/* ---------------- */

.bg-light {
  background-color: #ff4040 !important;
}
.card-deck {
  margin-top: 10px;
  margin-bottom: 40px;
}

.card-body {
  margin-bottom: 0px;
}

h3 {
  font-family: "Barlow", sans-serif;
  letter-spacing: 0.5px;
}

h2 {
  text-align: center;
}

p {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.5px;
}
.three-column-images {
  background: white;
}

.three-column-images .row {
  text-align: center;
  margin-top: 10%;
  margin-right: 51px !important;
  margin-left: 51px !important;
}
.img {
  margin-bottom: 10px;
  margin-top: 20px;
}

.three-column-images a {
  font-weight: bold;
}

section {
  padding: 20px;
}

.navbar-expand-lg .navbar-collapse {
  padding-left: 45%;
}

.container1 .container2 .container3 {
  padding: 20%;
}

.navbar-light .navbar-brand {
  color: white;
  padding: 17px;
  background-color: #ff4040;
  margin-top: -8px;
  margin-bottom: -6px;
}
.icons {
  display: flex;
  bottom: 10px;
  top: 10px;
}
.dropdown-item {
  display: flex;
}

.auth-image {
  display: flex;
  right: 70%;
}

.lead {
  display: flex;
  margin-top: 20px;
  font-size: 16px;
  color: #94a0af;
  line-height: 35px;
}

.h3,
h3 {
  font-size: 30px;
  color: #ff4040;
  display: flex;
  top: 8px;
  border-bottom: 1px solid #94a0af;
  font-size: 1.75rem;
  padding: 27px;
}
.jumbotron {
  background-color: white;
padding: 0;}

body,
html {
  height: 100%;
}

body,
html {
  height: 100%;
}

.navbar-collapse {
  display: flex;
  left: 50%;
  color: #ffffff;
  text-align: center;


a {
  color: #ff4040;
  letter-spacing: 0px;
  text-decoration: none;
}
.btn-lg {
  padding: 0.5rem 4rem;
  font-size: 15px;
  line-height: -7.5;
  border-radius: 0rem;
  background-color: #94a0af;
}
h5.card-title {
  color: #6c757d;
}

p.card-text {
  color: #6c757d;
}
footer {
  background-color: #ff4040;
  text-align: center;
}



